# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Node.JS
PORT=3000

# Postgres
POSTGRES_HOST=db # Use "db" when running on Docker, else use a loopback
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=savepoint
POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# JWT
JWT_SECRET=jwtsecret

# IGDB
IGDB_CLIENT_ID="Client ID"
IGDB_CLIENT_SECRET="Client Secret"
IGDB_ACCESS_TOKEN=access12345token
IGDB_WEBHOOK_SECRET=yoursecret!

# EMAIL
SMTP_GMAIL=smtp.gmail.com
GMAIL_AUTH_USER="YourEmail@gmail.com"
GMAIL_AUTH_PASS="Your gmail mailer password (don't is your gmail password)"
SMTP_PORT=587

# GOOGLE
GOOGLE_CLIENT_ID="Google Client Id"
GOOGLE_CLIENT_SECRET="Google Client Secret"
GOOGLE_CALLBACK_URL=http://exemple/google/callback