name: "save_point_backend"
services:
  app:
    container_name: save_point_nestjs_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    networks:
      - save_point_postgres_net
    depends_on:
      - db

  db:
    container_name: save_point_postgres_db
    image: postgres:17.4-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=savepoint
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - save_point_postgres_net

volumes:
  postgres_data:

networks:
  save_point_postgres_net:
    driver: bridge
